:root {
  --height: 430px;
  --width: 550px;
  --main-height: 300px;
}

.App {
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  height: var(--height);
  width: var(--width);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 20px;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
  background: orange;
  width: 100%;
  height: var(--main-height);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main__image-logo {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.main__headline {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  align-self: center;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 0.55px;
  line-height: 55px;
  margin: 0;
  padding: 0 40px;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.credit-box {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  justify-self: end;
  background: #fff;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  height: 50px;
}

.credit-box__name {
  flex: 1;
  color: orange;
  font-size: 18px;
  font-weight: 700;
  margin: 0 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.25px;
}

.credit-box__headshot {
  height: 46px;
  width: 46px;
  margin: 2px;
}

.message {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 10px;
  padding: 15px;
}

.message__headline {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
}

.message__body {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.message__url {
  color: #aaa;
  text-decoration: none;
}


/******************************
          MEDIA QUERIES
******************************/

@media (max-width: 450px) {
  :root {
    --height: 485px;
    --main-height: 345px;
  }
}